<div class="sidebar__container">
  <div class="sidebar__logo-box">
   <img src="../../../../assets/images/logo_small.png" class="sidebar__logo">
   </div>
  <ul class="sidebar__items">
    
    <li><a href="#" class="sidebar__item">Moje konto</a></li>
    <li><a href="#" class="sidebar__item">Terminarz</a></li>
    <li><a href="#" class="sidebar__item">Pacjenci</a></li>
    <li><a href="#" class="sidebar__item">Materiały</a></li>
    <li><a href="#" class="sidebar__item">Ustawienia</a></li>
    <li><a href="#" class="sidebar__item">Wyloguj</a></li>    
  </ul>
</div>
