@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@100&display=swap');

//COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #3eb1c5;

$color-invalid: #ff5930;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: rgb(85, 85, 85);
$color-grey-dark-2: #333;
$color-grey-dark-3: #222;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62,5%;
}

body {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-dark;
    }


.home {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}    
.sidebar { 

  &__container {
  display: flex;
  width: 20vw;
  height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(rgba($color-primary-light, .9), rgba($color-primary-dark, .9));
  color: #fff;
  margin-left: 2rem;
  box-shadow: 0 .5rem 3rem rgba($color-black, .5);

}

  &__logo {
  width: 100%;
  padding: 1rem;
  padding-top: 2rem;
  }

  &__items {
    list-style-type: none;
  }

  &__item {
    position: relative;
}

  &__item:link,
  &__item:visited {
    font-size: 1.3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    
    color: $color-grey-light-2;
    display: block;
    padding: 1rem;
    padding-left: 2rem;
    transition: all .5s ease-out;    
} 

  &__item:hover {
    background-color: $color-grey-light-1;
    color: $color-primary;
  }
}

.header {
  height: 5.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 1rem;
  

  &__logo {
    height: 5rem;
  }
}