<section class="login">
  <div class="form">
      <div class="form__img">
        <img class="logo" [src]="logoPath" alt="logo">
      </div>
      <h2 class="heading-secondary">
          {{ 'login.login' | translate }}
      </h2>
      <form class="form__box" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <div class="form__field">
             <label for="" class="form__label">{{ 'login.username' | translate }}</label>
              <input formControlName="username" type="text" class="form__input" autoComplete="username">
              <div class="form__validation">
                <p class="form__validation--blank">&nbsp;</p>
                <div class="invalid-form" *ngIf="loginFormControl.username.touched && loginFormControl.username.errors?.required">
                {{ 'form.fieldRequired' | translate }}
                </div>
              </div>
          </div>
          <div class="form__field">
              <label for="" class="form__label">{{ 'login.password' | translate }}</label>
              <input formControlName="password" type="password" class="form__input" autoComplete="current-password">
              <div class="form__validation">
                <p class="form__validation--blank">&nbsp;</p>
              <div class="invalid-form" *ngIf="loginFormControl.password.touched && loginFormControl.password.errors?.required">
                {{ 'form.fieldRequired' | translate }}
              </div>
              <div class="invalid-form invalid-credentials" *ngIf="badCredentialsError">
                {{ 'form.invalidData' | translate }}
              </div>
              </div>
          </div>
          <input type="submit">
          <a routerLink="../register" class="btn-text">{{ 'login.register' | translate}}</a>
      </form>
  </div>
</section>
