<section class="welcome">
    <header class="header">
        <div class="header__text-box">
            <h1 class="heading-primary">
                &nbsp;
            </h1>
            <h2 class="heading-secondary">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque provident praesentium adipisci placeat esse libero.
            </h2>
                <a routerLink="login" class="btn">{{ 'login.login' | translate}}</a>
                <a routerLink="register" class="btn">{{'login.register' | translate }}</a>
        </div>
    </header>
</section>
